<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="http://www.91king.xyz/Template/xiaofan_001/images/logo.ico" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-transform "/>
<title>{9CCMS:$Name} - {9CCMS:$ListName} - {9CCMS:$WebTitle}</title>
<meta http-equiv="refresh" content="0;url={9CCMS:$CUrl}" />
<script src="{9CCMS:$StylePath}/js/jquery.min.js"></script>
<script src="{9CCMS:$StylePath}/js/owl.carousel.min.js"></script>
<link href="{9CCMS:$StylePath}/css/msvod.css" rel="stylesheet" type="text/css">
</head>
{9CCMS-include:Header}

<div class="main">
<div class="panel panel-default">
<div class="panel-head">
<h2 class="f-l f18 colordef panel-title">{9CCMS:$Name}</h2><span class="lh40 colorgray"></span>
</div>
<br>

<form name=loading>

　<p align=center> <font color="FC0000" size="4">正在打开bt种子下载页面，请耐心等待</font><font color="FC0000" size="3" face="Arial">...</font>

　　<input type=text name=chart size=54 style="font-family:Arial; font-weight:bolder; color:#FC0000; background-color:#fef4d9; padding:0px; border-style:none;">

　　

　　<input type=text name=percent size=55 style="color:#FC0000; text-align:center; border-width:medium; border-style:none;">

　　<script>　

var bar=0　

var line="||"　

var amount="||"　

count()　

function count(){　

bar=bar+2　

amount =amount + line　

document.loading.chart.value=amount　

document.loading.percent.value=bar+"%"　

if (bar<99)　

{setTimeout("count()",100);}　

else　

{window.location = "{9CCMS:$CUrl}";}　

}</script>

　</p>

</form>
<br>
<p align="center"> 如果您的浏览器不支持跳转,<a style="text-decoration: none" href="{9CCMS:$CUrl}"><font color="#FF0000">请点这里</font></a>.</p>

<br>

{9CCMS-DCAd}
							<li><a target="_blank"  href="{9CCMS-DCAd:Url}"><img style="width:{9CCMS-DCAd:Width};height:{9CCMS-DCAd:Height};margin-bottom:2px;" src="{9CCMS-DCAd:Pic}"></a></li> 
						 {/9CCMS-DCAd}
						 <br>

<div class="panel-body">
<ul class="panel-list">
 
 {9CCMS-Bt-Popular:Count=4}
 <li class="video last">
<a href="{9CCMS-Bt-Popular:DUrl}" target="_blank" title="{9CCMS-Bt-Popular:Name}">
<div class="thumb"><img src="{9CCMS-Bt-Popular:Pic}" alt="{9CCMS-Bt-Popular:Name}" /></div>
<h2 class="f16 video-title product-buyer-name">{9CCMS-Bt-Popular:Name}</h2>
<div class="f12 video-details">

<div class="video-details-2">
<span class="f-l fa fa-clock-o"> {9CCMS:$Time}</span>
<span class="f-r fa fa-eye"> 已被下载：{9CCMS-Bt-Popular:Rand} 次</span>
</div>
</div>
</a>
</li>
{/9CCMS-Bt-Popular}
</ul>
</div>


</div>
</div>

{9CCMS-include:Footer}
</html>