<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="http://www.91king.xyz/Template/xiaofan_001/images/logo.ico" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>	{9CCMS:$Name} - {9CCMS:$ListName} - {9CCMS:$WebTitle}</title>
<meta name="keywords" content="{9CCMS:$ListName}">
<meta name="description" content="{9CCMS:$ListName}">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
<script src="{9CCMS:$StylePath}/js/jquery.min.js"></script>
<script src="{9CCMS:$StylePath}/js/owl.carousel.min.js"></script>
<link href="{9CCMS:$StylePath}/css/msvod.css" rel="stylesheet" type="text/css">
</head>

{9CCMS-include:Header}
<div class="main">
<div class="panel panel-default">
<div class="panel-head">
<h2 class="f-l f18 colordef panel-title">{9CCMS:$Name}</h2><span class="lh40 colorgray"></span>
</div>

<div class="panel-body">

 
{9CCMS:$Play}

</div>
{9CCMS-DCAd}
							<li><a target="_blank"  href="{9CCMS-DCAd:Url}"><img style="width:{9CCMS-DCAd:Width};height:{9CCMS-DCAd:Height};margin-bottom:2px;" src="{9CCMS-DCAd:Pic}"></a></li> 
						 {/9CCMS-DCAd}
						 
<div class="panel-head">
<h2 class="f-l f18 colordef panel-title">{9CCMS:$ListName}推荐视频</h2><span class="lh40 colorgray"></span>
</div>

<div class="panel-body">
<ul class="panel-list">
 
{9CCMS-Video-Popular:Count=12}
 <li class="video last">
<a href="{9CCMS-Video-Popular:DUrl}" target="_blank" title="{9CCMS-Video-Popular:Name}">
<div class="thumb"><img src="{9CCMS-Video-Popular:Pic}" alt="{9CCMS-Video-Popular:Name}" /></div>
<h2 class="f16 video-title product-buyer-name">{{9CCMS-Video-Popular:Name}</h2>
<div class="f12 video-details">

<div class="video-details-2">
<span class="f-l fa fa-clock-o"> 时长：</span>
<span class="f-r fa fa-eye"> 已被观看：{9CCMS-Video-Popular:Rand} 次</span>
</div>
</div>
</a>
</li>
{/9CCMS-Video-Popular}
</ul>
</div>

</div>
</div>
<!--<div class="bk30"></div>-->
{9CCMS-include:Footer}
</html>